.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include sm {
    height: 508px;
  }
  @include xs {
    height: 100vh;
  }
}

.topСurtain {
  width: 100%;
  height: 213px;
  position: relative;
  z-index: 1;

  @include lg {
    height: 157px;
  }
  @include md {
    height: 112px;
  }
  @include sm {
    height: 102px;
  }
  @include xs {
    height: 84px;
  }
}

.logo {
  width: 570px;
  height: 263px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include lg {
    width: 427px;
    height: 194px;
  }
  @include md {
    width: 303px;
    height: 137px;
  }
  @include xs {
    width: 214px;
    height: 95px;
  }
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}
