.wrapper {
  width: 100%;
  height: 120vh;
  position: relative;
  padding-top: 200px;

  @include lg {
    padding-top: 160px;
  }
  @include md {
    padding-top: 112px;
    height: 110vh;
  }
  @include sm {
    height: 580px;
  }
  @include xs {
    height: 100vh;
    padding-top: 0;
    display: flex;
    align-items: center;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  mix-blend-mode: lighten;
  opacity: 0.3;
}

.container {
  // height: 100%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  @include sm {
    max-width: initial;
  }
}

.swiper {
  width: 100%;
}

.slider {
  & > div {
    display: flex;
    align-items: flex-end;
  }
}

.plate {
  width: 370px;
  height: 370px;
  position: absolute;
  right: -40%;
  left: 50%;
  top: calc(450px - 5px);
  z-index: 0;
  transform: translate(-50%, -100%);
}

.swipe {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @include xs {
    display: flex;
  }
}

.swipeText {
  font-size: 10px;
  line-height: 12px;
}

.swipeArrow {
  width: 50px;
  margin-top: -4px;
}
