.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgWrapper {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(100%);
  overflow: hidden;
  transition: filter 0.3s;

  @include lg {
    width: 172px;
    height: 172px;
  }
  @include md {
    width: 120px;
    height: 120px;
  }

  &:hover {
    filter: initial;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-family: $ff-g;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  color: $red;

  @include lg {
    font-size: 26px;
    line-height: 38px;
  }
  @include md {
    font-size: 20px;
    line-height: 30px;
  }
  @include sm {
    font-size: 18px;
    line-height: 27px;
  }

  &__wrapper {
    margin-top: 18px;

    @include lg {
      margin-top: 14px;
    }
    @include md {
      margin-top: 8px;
    }
    @include sm {
      margin-top: 3px;
    }
  }
}

.link {
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  color: $white;

  @include lg {
    font-size: 18px;
    line-height: 22px;
  }
  @include md {
    font-size: 14px;
    line-height: 17px;
  }

  &__wrapper {
    margin-top: 6px;

    @include lg {
      margin-top: 4px;
    }
    @include md {
      margin-top: 2px;
    }
    @include sm {
      margin-top: 0;
    }
  }
}
