.wrapper {
  width: 100%;
  padding: 0 0 20px 0;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  @include lg {
    padding: 0 0 14px 0;
  }
  @include md {
    padding: 0 0 10px 0;
  }
  @include sm {
    padding: 0 0 8px 0;
  }
  @include xs {
    padding: 0 0 6px 0;
  }
}

.date,
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  gap: 3px;
  @include lg {
    gap: 2px;
  }
  @include md {
    gap: 0px;
  }
}

.info {
  gap: 5px;
  @include lg {
    gap: 4px;
  }
  @include md {
    gap: 0px;
  }
  @include xs {
    gap: 2px;
    // width: 100%;
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
  }
}

.day {
  font-family: $ff-g;
  font-weight: 700;
  font-size: 60px;
  line-height: 95%;
  color: $black;

  @include lg {
    font-size: 42px;
  }
  @include md {
    font-size: 32px;
  }
  @include sm {
    font-size: 30px;
  }
  @include xs {
    font-size: 24px;
  }
}

.month {
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  @include lg {
    font-size: 16px;
    line-height: 20px;
  }
  @include md {
    font-size: 12px;
    line-height: 15px;
  }
  @include xs {
    font-size: 10px;
    line-height: 12px;
  }
}

.place {
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
  text-transform: uppercase;
  color: $black;
  text-align: center;

  @include lg {
    font-size: 24px;
    line-height: 26px;
  }
  @include md {
    font-size: 22px;
    line-height: 27px;
  }
  @include sm {
    font-size: 20px;
    line-height: 24px;
  }
  @include xs {
    font-size: 14px;
    line-height: 18px;
  }
}

.city {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: $black;

  @include lg {
    font-size: 18px;
    line-height: 22px;
  }
  @include md {
    font-size: 14px;
    line-height: 17px;
  }
  @include xs {
    font-size: 10px;
    line-height: 12px;
  }
}

.location {
  padding: 10px 12px 9px;
  background-color: $black;
  border-radius: 10px;

  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: $white;
  text-transform: uppercase;

  @include lg {
    padding: 8px 10px 7px;
    font-size: 16px;
    line-height: 20px;
  }
  @include md {
    padding: 5px 7px 4px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 6px;
  }
  @include xs {
    padding: 3px 5px 3px;
    border-radius: 4px;
  }

  &.disable,
  &:disabled {
    pointer-events: none;
    background-color: rgba($black, 0);
    color: rgba($white, 0);
  }

  &__text {
    @include xs {
      display: none;
    }
  }
  &__icon {
    width: 10px;
    height: 10px;
    display: none;
    @include xs {
      display: initial;
    }
  }
}

.line {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;

  border-color: $black;
  margin-block: 0;
  border-style: solid;
  border-left-width: 0;
  border-right-width: 0;

  @include lg {
    border-top-width: 0px;
  }
  @include xs {
    transform: scaleY(0.5);
  }
}
