.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  pointer-events: none;
  &.active {
    cursor: pointer;
    pointer-events: initial;
  }
}

.cover {
  position: relative;
  height: 450px;
  display: flex;
  align-items: flex-end;
}

.img {
  z-index: 1;
  position: relative;
  transition: width 0.5s, height 0.5s, opacity 0.5s;
}

.coverImg {
  width: 300px;
  height: 300px;
  opacity: 0.35;
}

.activeCoverImg {
  width: 450px;
  height: 450px;
}

.plate {
  width: 370px;
  height: 370px;
  position: absolute;
  right: -40%;
  bottom: -5px;
  z-index: 0;
}

.textBlock {
  bottom: -30px;
  left: 50%;
  // display: none;
  transform: scale(0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;

  &.active {
    opacity: 1;
    transform: scale(1);
  }
}

.name {
  font-family: $ff-g;
  font-weight: 500;
  font-size: 48px;
  line-height: 71px;
  color: $red;
}

.year {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: $red;
}
