.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  pointer-events: none;

  &.active {
    cursor: pointer;
    pointer-events: initial;
  }

  &.visible {
    opacity: 1;
  }
}

.cover {
  position: relative;
  height: 450px;
  display: flex;
  align-items: flex-end;

  @include lg {
    height: 336px;
  }
  @include md {
    height: 235px;
  }
  @include sm {
    height: 250px;
  }
  @include xs {
    height: 280px;
  }
}

.img {
  z-index: 1;
  position: relative;
  object-fit: cover;
  transition: width 0.5s, height 0.5s, opacity 0.5s;

  &.invisible {
    width: 0;
    height: 0;
  }
}

.coverImg {
  width: 300px;
  height: 300px;
  opacity: 0.35;


  @include lg {
    width: 224px;
    height: 224px;
  }
  @include md {
    width: 155px;
    height: 155px;
  }
  @include sm {
    width: 150px;
    height: 150px;
  }
  @include sm {
    width: 280px;
    height: 280px;
  }
}

.activeCoverImg {
  width: 450px;
  height: 450px;

  @include lg {
    width: 336px;
    height: 336px;
  }
  @include md {
    width: 235px;
    height: 235px;
  }
  @include sm {
    width: 250px;
    height: 250px;
  }
  @include xs {
    width: 280px;
    height: 280px;
  }
}

.plate {
  width: 370px;
  height: 370px;
  position: absolute;
  right: -40%;
  bottom: -5px;
  z-index: 0;
}

.textBlock {
  transform: scale(0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;

  &.active {
    opacity: 1;
    transform: scale(1);
  }

  &.invisible {
    opacity: 0;
  }

  @include sm {
    margin-top: 7px;
  }
}

.name {
  font-family: $ff-g;
  font-weight: 500;
  font-size: 48px;
  line-height: 71px;
  color: $red;

  @include lg {
    font-size: 36px;
    line-height: 54px;
  }
  @include md {
    font-size: 28px;
    line-height: 41px;
  }
  @include sm {
    font-size: 26px;
    line-height: 38px;
  }
}

.year {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: $red;

  @include lg {
    font-size: 20px;
    line-height: 24px;
  }
  @include md {
    font-size: 18px;
    line-height: 22px;
  }
  @include sm {
    font-size: 16px;
    line-height: 20px;
  }
}
