@import './helpers';
@import './base';
@import './containers';

html {
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  font-family: $ff-m;
  color: $white;
  background: $black;

  &.no-scroll {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}

.gallery {
  .swiper-pagination {
    display: none !important;
    @include sm {
      display: initial !important;
    }
    @include xs {
      bottom: 0px !important;
    }
  }

  .swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    background: $white !important;
    opacity: 1 !important;

    @include xs {
      width: 4px !important;
      height: 4px !important;
    }
  }

  .swiper-pagination-bullet-active {
    background: $red !important;
  }
}
