@import './helpers';
@import './base';
@import './containers';

body {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  font-family: $ff-m;
  color: $white;
  background: $black;
  &.no-scroll {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}
