.wrapper {
  padding: 446px 0 200px;
  position: relative;
  margin-top: -243px;

  @include lg {
    padding: 330px 0 170px;
    margin-top: -178px;
  }
  @include md {
    padding: 240px 0 120px;
    margin-top: -127px;
  }
  @include sm {
    padding: 190px 0 100px;
    margin-top: -96px;
  }
  @include xs {
    padding: 142px 0 70px;
    margin-top: -88px;
  }
}

.container {
  flex-direction: column;
  align-items: center;
}

.team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 120px;

  @include sm {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
}

.text {
  font-size: 24px;
  line-height: 29px;
  max-width: 922px;
  margin-top: 90px;

  @include lg {
    font-size: 18px;
    line-height: 22px;
    max-width: 686px;
    margin-top: 70px;
  }
  @include md {
    font-size: 16px;
    line-height: 20px;
    max-width: 646px;
  }
  @include sm {
    max-width: initial;
    margin-top: 65px;
  }
  @include xs {
    margin-top: 80px;
  }
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 14px 10px;
  border: 1.5px solid $red;
  border-radius: 1px;

  font-family: $ff-g;
  font-size: 48px;
  line-height: 71px;
  font-weight: 700;
  color: $red;

  margin-top: 105px;

  @include lg {
    font-size: 36px;
    line-height: 53px;
    margin-top: 85px;
    padding: 5px 10px 10px;
  }
  @include md {
    font-size: 32px;
    line-height: 47px;
    margin-top: 82px;
  }
  @include sm {
    padding: 2px 10px 6px;
    margin-top: 65px;
    font-size: 30px;
    line-height: 45px;
  }
  @include xs {
    font-size: 32px;
    line-height: 47px;
  }
}
